name: Dotnet Format

on: 
  pull_request:
    paths:
      - "src/**"
      - "tests/**"
  workflow_dispatch:

jobs:
  job:
    uses: milkyware/actions/.github/workflows/dotnet-format.yml@main
    with:
      dotnet-version: 10.0.x