name: PR Checks

on:
  pull_request_target:
    types: 
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  validate-pr-title:
    uses: milkyware/actions/.github/workflows/validate-pr-title.yml@main
    permissions:
      contents: read
      pull-requests: write
      statuses: write
    with:
      token: ${{ github.token }}