name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release-please.outputs.releases_created }}
      tag_name: ${{ steps.release-please.outputs.tag_name }}
      version: ${{ steps.release-please.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: googleapis/release-please-action@v4
        id: release-please
        with:
          token: ${{ github.token }}

  release-cli:
    uses: ./.github/workflows/release-cli.yml
    needs: release-please
    if: ${{ needs.release-please.outputs.releases_created == 'true' }}
    permissions:
      actions: read
      checks: write
      contents: write
    with:
      tag_name: ${{ needs.release-please.outputs.tag_name }}
      version: ${{ needs.release-please.outputs.version }}